*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90.9deg, rgb(3, 195, 195) 0.3%, rgb(37, 84, 112) 87.8%);
}
main.calculator-app{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
main.calculator-app section.output{
    grid-column: 1/-1;
    background: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
main.calculator-app section.output div.old-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
main.calculator-app section.output div.current-operand{
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
}
main.calculator-app section.buttons-grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
main.calculator-app section.buttons-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: rgba(255, 255, 255, .75);
}
main.calculator-app section.buttons-grid button:hover {
    background: rgba(255, 255, 255, .90);
}
button.span-two{
    grid-column: span 2;
}


